
html, body{height: 100%;}

body{
  margin: 0;
  padding: 0;
  font: 1em sans-serif;
  background: url(3.png);
  background-size: cover;
}


.st{
  position: relative;
  right: 400;
  z-index: 2;

}
.st2{
  position: relative;
  left:8%;
  transform: scale3d(-1, 1, 1);
  z-index: 0;
  
}


.bird{
  position: absolute;
  top: 200px;
  left: 200px;
  -webkit-animation: linear 10s orbita infinite;
  animation: linear 10s orbita infinite;
  z-index: 1;
width: 72px; 
  }


@keyframes orbita{
  0%{ left:250px; top: 130px; z-index: 2; opacity:0;}
  10% {opacity:1;}
  24%{z-index: 0;}
  25%{left: 380px; top: 130px; z-index: 2;}
  74%{z-index: 2;}
  75%{top: 300px; left: 40px; z-index: 0;}
  90%{opacity:1;}
  100%{ transform: rotate(360deg); opacity:0; left:250px; top: 130px;} 
}


.bird1{
  position: absolute;
  top: 100px;
  left: 100px;
  -webkit-animation: linear 10s orbita infinite;
  animation: linear 10s orbita infinite;
  z-index: 2;
}

.bird2{
  position: absolute;
  top: 13%;
  left: 13%;
  -webkit-animation: linear 15s orbita infinite;
  animation: linear 15s orbita infinite;
  z-index: 2;
}
.sh{ 
animation: pulsing 10s infinite; 
} 
.sh img{ 
width: 150px; 
z-index: 3; 
position: relative; 
top:-550px; 
left: 300px; 

}
@keyframes pulsing { 
0% { 
transform: scale(1, 1) rotate(180deg); 
} 
50% { 
transform: scale(1.2, 1.1) rotate(180deg); 
} 
100% { 
transform: scale(1, 1) rotate(180deg); 
} 
}

.sh1{ 
transform: rotate(180deg); 
animation: pulsing 20s infinite; 
} 
.sh1 img{ 
width: 80px; 
z-index: 3; 
position: relative; 
top:-450px; 
left: 800px; 

}
@keyframes around {
  0%  { left: 0; top: 0; }
  25% { left: 240px; top: 0; }
  50% { left: 240px; top: 140px; }
  75% { left: 0; top: 140px; }
  100% { left: 0; top: 0; }
}
.sh2{ 
transform: rotate(70deg); 
animation: around 20s infinite; 
} 
.sh2 img{ 
width: 80px; 
z-index: 3; 
position: relative; 
top:-450px; 
left: 800px; 